<nav class="navbar panel-green navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="isCollapsed = !isCollapsed" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Salesrator - Analyze Like Pro</a>
  </div>

      <!-- <ul class="nav navbar-top-links navbar-right">
        <li> <a>SideAction</a> </li>
      </ul> -->

      <div class="navbar-default sidebar" role="navigation" ng-if="inSession">
        <div class="sidebar-nav navbar-collapse" collapse="isCollapsed">
          <ul class="nav" id="side-menu">
            <li>
              <a ui-sref="app.dash"><i class="fa fa-dashboard fa-fw"></i> My Dashboard</a>
            </li>
            <li>
              <a ui-sref="app.cleanup"><i class="fa fa-dashboard fa-fw"></i> Data Cleanup</a>
            </li>
            <li>
              <a ui-sref="app.plot"><i class="fa fa-dashboard fa-fw"></i> Graph Plot</a>
            </li>
            <li class="item-divider">
              &emsp;<br/>&emsp;
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div ui-view></div>